In [23]:
import pandas as pd

In [24]:
n = int(input("Enter a positive integer here: "))

if n < 1: print(" That is not a positive integer!")

Enter a positive integer here: 18

In [25]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2] + fibo[i-1])

In [26]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

In [27]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [29]:
#pd.DataFrame({'Even': [n, 'Alexander', 'Ashley'], 'Last Name':['Cook', 'Bell', 'Mason'], 'Age': [38, 42, 23]})

Results = pd.DataFrame({'even':even, 'odd':odd, 'fibonacci':fibo})
Results

    even  odd  fibonacci
0      0    1          0
1      2    3          1
2      4    5          1
3      6    7          2
4      8    9          3
5     10   11          5
6     12   13          8
7     14   15         13
8     16   17         21
9     18   19         34
10    20   21         55
11    22   23         89
12    24   25        144
13    26   27        233
14    28   29        377
15    30   31        610
16    32   33        987
17    34   35       1597